* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}
 
.container-fluid{
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
  margin-top: -5px;
}

.navh1{
  color: white;
}

.navbar-nav{
  text-align: center;
  gap: 15px;
  font-size: calc(1rem + 0.5vw);
  padding: 5px;
} 

.nav-item:hover{
  text-transform: uppercase;
  text-decoration: 2px underline rgb(81, 112, 173);
}

/* MAIN */

.logo{
  width: 81%;
  float: right;
  margin-left: 100%;
  margin-bottom: 50px;
}

.card{
  align-content: center;
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px !important;
  --bs-card-bg:none !important;
  padding: 2%;
}

.cardPres {
  display: flex;
  flex-direction: row;
}

main .img-fluid{
  width: 40% !important;
  margin-left: auto;
}

video{
  width: 50% !important;
  margin-left: auto;
}

main .card p{
  text-align: center;
  font-size: calc(1rem + 0.2vw) !important;  
  font-family: "Montserrat" !important;
  max-width: 400px;
}

.containerText{
  font-size: calc(1.1rem + 0.3vw) !important;  
  font-family: "Inter", "sans-serif" !important;
  padding-bottom: 2%;
  max-width: 400px;
  margin-left: 12%;
  text-decoration: underline;
  color: white;
}

.containerCard .row{
  gap: 15px;
}

.containerCard .row .col{
  max-width: 400px !important;
}

.containerCard h1{
  font-family: "Montserrat", "sans-serif" !important;
  padding-bottom: 18% !important;
  font-size: calc(1.1rem + 0.6vw) !important;
}

.containerCard p{
  font-family: "Poiret One" !important;
  font-size: calc(0.9rem + 0.4vw) !important;
}

.card-title{
  font-size: calc(1rem + 0.2vw) !important;
  font-family: "Inter", "sans-serif" !important;

}

.pagination{
  padding-top: 8%;
  --bs-pagination-bg: #2c3e50 !important;
  --bs-pagination-border-color: #c1bebe !important;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #2c3e50;
  --bs-pagination-active-bg: #558ecb !important;
  --bs-pagination-active-border-color: #d4d3d3 !important;
  --bs-pagination-disabled-bg: #d4d3d3 !important;
  --bs-pagination-hover-bg: #558ecb !important;
  --bs-pagination-focus-bg: #558ecb !important;
}

/* FOOTER */

footer{
  box-shadow: 0px -4px 10px rgb(0 0 0 / 50%);
}

footer .img-fluid{
  width: 30% !important;
  opacity: 0.7;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

footer .row{
  --bs-gutter-x: 0rem !important;
  align-items: center;
}


/* BTN */

.returnBack .btn{
  background-color: #558ecb !important;
  padding: 3px !important;
  border-radius: 50px !important;
  width: 9%;
  margin-left: 5%;
  margin-bottom: 2%;
  align-items: center;
  font-size: calc(0.9rem + 0.3vw) !important;
  font-family: "Montserrat", "sans-serif" !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

.techno .btn{
  background-color: #558ecb !important;
  padding: 2px !important;
  border-radius: 50px !important;
  width: 25%;
  align-items: center;
  font-size: calc(0.9rem + 0.3vw) !important;
  font-family: "Poiret One", "sans-serif" !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

.returnTop .btn{
  margin-top: 5%;
  margin-left: 85%;
  margin-bottom: 50px;
  background-color: #558ecb !important;
  padding: 8px !important;
  border-radius: 50px !important;
  width: 12%;
  align-items: center;
  font-size: calc(0.8rem + 0.1vw) !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

footer .btn{
  margin-top: 8%;
  background-color: #558ecb !important;
  padding: 10px !important;
  border-radius: 50px !important;
  width: 60%;
  align-items: center;
  text-transform: uppercase;
  font-size: calc(0.9rem + 0.1vw) !important;
  font-family: "Montserrat", "sans-serif" !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}


  /* NAV */
@media screen and (min-width: 992px) {
  nav .img-fluid{
    margin-right: 35%;
  }

  .navbar-nav{
    margin-left: auto;
    float: right;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    gap: 30px;
  } 
}


  /* MAIN */
@media screen and (max-width: 900px) {
  .cardPres{
    flex-direction: column;
    align-items: center;
  }

  main .img-fluid, video {
    padding-top: 2%;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .logo .img-fluid {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 1000px) {
  .containerCard .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerCard p{
    font-size: calc(1rem + 0.5vw) !important;
  }
}


  /* FOOTER */
@media screen and (max-width: 1050px) {

  footer .text-light .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 5%;
  }

  footer .text-light .row .col{
    display: flex;
    justify-content: center;
  }
  
}


  /* BTN */

@media screen and (max-width: 1250px) {
  /* main */
  .returnBack .btn{
    width: 12% !important;    
  }

  /* return */
  .returnTop .btn{
    margin-left: 80%;
    width: 15% !important;
  }  
}

@media screen and (max-width: 1080px) {
  /* main */
  .returnBack .btn{
    width: 15% !important;    
  }
}

@media screen and (max-width: 950px) {
  /* return */
  .returnTop .btn{
    width: 18% !important;
  }  
}

@media screen and (max-width: 700px) {
  /* return */
  .returnBack .btn{
    width: 18% !important;    
  } 

}

@media screen and (max-width: 780px) {
    /* return */
  .returnTop .btn{
    margin-left: 72%;
    width: 24% !important;
  }  

}

@media screen and (max-width: 590px) {
  /* return */
  .returnBack .btn{
    width: 20% !important;    
  } 

  .returnTop .btn{
    margin-left: 70%;
    width: 28% !important;
  }  
}

.main_hr {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  width: 95%;
  transform: rotate(180deg);
  border: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}