* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}

html {
  scroll-behavior: smooth;
}

#competence, #formation, #experience, #projet{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#competence>h1, #formation>h1, #experience>h1, #projet>h1{
  font-size: calc(1rem + 0.3vw) !important; 
  font-family: 'Inter';
  letter-spacing: 6.25px;
}

/* NAVBAR */
 
header .container-fluid{
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
}

.navbar{
  --bs-navbar-padding-y: 0 !important;
}

.navbar-nav{
  text-align: center;
  gap: 30px;
  font-size: calc(1rem + 0.5vw);
  padding: 10px;
} 

.nav-item:hover{
  text-transform: uppercase;
  text-decoration: 2px underline rgb(81, 112, 173);
}

/* MAIN */

.logo{
  width: 81%;
  float: right;
  margin-left: 100%;
  margin-bottom: 50px;
}

.photo{
  width: auto;
}

/* PROFIL */

#profil{
  font-family: 'Montserrat';
  padding-bottom: 5%;
}

#profil h1{
  padding-top: 1%;
  font-size: calc(1rem + 0.3vw) !important;  
}

#profil .btn{
  border-color:white !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  width: 25%;
  margin-top: 1% !important;
  padding-top: 0.5% !important;
  padding-bottom: 0.5% !important;
  font-size: calc(1rem + 0.4vw) !important;  
}

#profil .btn:hover{
  border-color: #000000 !important;
  box-shadow: 0px 4px 10px 4px rgba(255, 255, 255, 0.5);
  background-color: white;
  color: #2c3e50 !important;
}

/* COMPETENCE */

#competence>h1{
  font-size: calc(1rem + 0.3vw) !important; 
  font-family: 'Inter';
  letter-spacing: 6.25px;
}

#competence .container-fluid .container>h2{
  font-size: calc(1rem + 0.3vw) !important;
  font-style: italic !important;
}

#competence .progress{
  margin-top: 5% !important;
  --bs-progress-height: 2rem !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: calc(1rem + 0.1vw) !important;
  /* max-height: 5%; */
}

#competence .bd .progress-bar{
  background-color: #369e8c !important;
}

#competence .back .progress-bar{
  background-color: #b33939 !important;
}

#competence .front .progress-bar{
  background-color: #437e56 !important;
}

#competence .framework .progress-bar{
  background-color: #8f4c3b !important;
}

#competence .logiciel .progress-bar{
  background-color: #113b7a !important;
}

/* formation & experience */

.diplome, .expert {
  margin-left: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  width: 8% !important;
}

/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 35%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -5px;
  background-color: #346abf;
  border: 3px solid #2c3e50;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  /* left: 15%; */
}

@media screen and (min-width: 601px) {
  /* Place the container to the left */
  .left {
    min-width: 50%;
  }

  .right{
    min-width: 46% !important;
  }
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

#experience .container .main-timeline .timeline .card .card-body,
#formation .container .main-timeline .timeline .card .card-body{
  gap: 20px;
  font-family: "Inter", sans-serif;
}

#experience .container .main-timeline .timeline .card .card-body time,
#formation .container .main-timeline .timeline .card .card-body  time{
 text-align: center;
 font-weight: bold !important;
}

#experience .container .main-timeline .timeline .card .card-body img,
#formation .container .main-timeline .timeline .card .card-body img{
  width: 12% !important;
}

#experience .container .main-timeline .timeline .card .card-body h2,
#formation .container .main-timeline .timeline .card .card-body h2{
 text-align: center;
 letter-spacing: 5px;
 font-size: calc(1rem + 0.2vw) !important; 
 font-weight: bold !important;
}

#experience .container .main-timeline .timeline .card .card-body h3,
#formation .container .main-timeline .timeline .card .card-body h3{
 text-align: center;
 font-size: calc(0.9rem + 0.1vw) !important;
 font-weight: bold !important; 
}

@media (max-width: 768px){
  .container, .container-sm {
    max-width: 680px !important;
  }
}


/* projet */

#projet .container-fluid .d-flex{
  margin: 50px !important;
  gap: 100px !important;
  padding: 50px !important;
}

.imgProjet {
  width: 35rem;
  height: 20rem ;
  border-radius: 20px;
  border: 5px solid #5f5f5f75;
  box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.50);
  margin: 3%;
}

.imgProjet:hover {
  box-shadow: 0px 4px 15px 10px rgba(255, 255, 255, 0.5);
}

/* FOOTER */

footer{
  box-shadow: 0px -4px 10px rgb(0 0 0 / 50%);
}

footer .img-fluid{
  width: 25% !important;
  opacity: 0.7;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

footer .row{
  --bs-gutter-x: 0rem !important;
  align-items: center;
}

.contact h1{
  font-size: calc(1rem + 0.4vw) !important; 
}

.mail img:hover, .linkedin img:hover{
  border: 2px solid rgba(255, 255, 255);
  border-radius: 30%;
}

/* overflow */
#projet .container-fluid .d-flex::-webkit-scrollbar{
  padding: 10px;
  height: 10px;
}

#projet .container-fluid .d-flex::-webkit-scrollbar-thumb {
  background: #888;
}

/*   HR   */

hr{
  margin: 0 !important;
}

.main_hr{
  padding: 1.5px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: transparent;
  border: none;
  z-index: 2;
  border-radius: 50px;
}

.onglet_hr{
  margin: 30px !important;
  padding: 2.5px;
  width: 15%;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: rgb(255, 255, 255);
  border: none;
  z-index: 2;
  border-radius: 50px;
}

.article_hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 32% !important;
  padding: 0px;
  height: 2px;
  background-color: rgb(0, 0, 0) !important;
  width: 35%;
  transform: rotate(180deg);
  border: none;
}

.footer_hr{
  padding: 1.5px;
  width: 35%;
  margin: 20px auto;
  background-color: rgb(255, 255, 255) !important;
  border: none;
  z-index: 2;
  border-radius: 50px;
}

/*   fleche   */
.arrow_return {
  padding-bottom: 5%;
}

.arrow_return img {
  height: 35px;
  width: 25px;
  margin-left: 50%;
  transform: rotate(270deg);
  margin-top: 20px;
}

/* NAV */

@media screen and (min-width: 992px) {

  .navbar-nav{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    gap: 70px;
  } 
}

/* MAIN */

@media screen and (max-width: 900px) {
  #profil .logo .img-fluid{
    width: 75% !important;
  }

  #profil .photo .img-fluid{
    width: 35% !important;
  }
}

/* COMPETENCE */

@media screen and (max-width: 1100px){
  #competence .progress{
    font-size: calc(0.9rem + 0.1vw) !important; 
  }
}

@media screen and (max-width: 1000px){
  #competence .progress{
    font-size: calc(0.8rem + 0.1vw) !important; 
  }
  
  #competence .container-fluid{
    flex-direction: column; 
    justify-content: center !important;
  }
}

/* PROJET */

@media screen and (max-width: 800px) {
  #projet .container-fluid .d-flex{
    flex-direction: column !important;
    margin: 0 !important;
  }

  .imgProjet {
    width: 95% !important;
    height: 95% !important;
    margin: 0 !important;
}
  
}

/* FOOTER */

@media screen and (max-width: 800px) {
  footer .container-fluid .row{
    display: flex !important;
    flex-direction: column !important;
    gap: 60px !important;
    text-align: center !important;
    margin: 0 !important;
  }

  footer .container-fluid .row .imgProjet {
    width: 95% !important;
    height: 95% !important;
    margin: 0 !important;
  }
  
}

/* BTN */

@media screen and (max-width: 1000px) {
  /* profil */
  #profil .btn{
    width: 32%;
  }
}

@media screen and (max-width: 800px) {
  /* profil */
  #profil .btn{
    width: 39%;
  } 
}

@media screen and (max-width: 650px) {
  /* profil */
  #profil .btn{
    width: 47%;
  } 

}

@media screen and (max-width: 530px) {
  /* profil */
  #profil .btn{
    width: 54%;
  }  

}

@media screen and (max-width: 450px) {  
  /* profil */
  #profil .btn{
    width: 62%;
  } 
}

@media screen and (max-width: 350px) {  
  /* profil */
  #profil .btn{
    width: 72%;
  } 
}