* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}
 
.container-fluid{
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
  margin-top: -5px;
}

.navh1{
  color: white;
}

.navbar-nav{
  margin-left: auto;
  float: right;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 30px;
  font-size: calc(1rem + 0.5vw);
  padding: 5px;
} 

/* Nav */

@media screen and (min-width: 992px) {
  .img-fluid{
    margin-right: 35%;
  }
}