* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}
 
.container-fluid{
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
  margin-top: -5px;
}

.navh1{
  color: white;
}

.navbar-nav{
  text-align: center;
  gap: 15px;
  font-size: calc(1rem + 0.5vw);
  padding: 5px;
} 

.nav-item:hover{
  text-transform: uppercase;
  text-decoration: 2px underline rgb(81, 112, 173);
}

/* MAIN */

.logo{
  width: 81%;
  float: right;
  margin-left: 100%;
  margin-bottom: 50px;
}

.card{
  align-content: center;
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px !important;
  --bs-card-bg:none !important;
  padding: 2%;
}

main .card .btn img{
  background-color: transparent !important;
  width: 15%;
}

main .img-fluid{
  width: 40% !important;
}

main .card h5{
  text-decoration: underline;
  padding-top: 5%;
  font-size: calc(1rem + 0.5vw) !important;  
}

.containerText{
  font-size: calc(1.1rem + 0.3vw) !important;  
  font-family: "Inter", "sans-serif" !important;
  padding-bottom: 2%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}


.containerCard .row{
  gap: 15px;
}

.containerCard .row .col{
  max-width: 400px !important;
}

.containerCard h1{
  font-family: "Montserrat", "sans-serif" !important;
  padding-bottom: 18% !important;
  font-size: calc(1.1rem + 0.6vw) !important;
}

.containerCard p{
  font-family: "Poiret One" !important;
  font-size: calc(0.9rem + 0.4vw) !important;
}

/* BTN */

main .card .btn{
  margin-top: 3%;
  background-color: #558ecb !important;
  padding: 7px !important;
  border-radius: 50px !important;
  width: 15%;
  align-items: center;
  text-transform: uppercase;
  font-size: calc(0.8rem + 0.1vw) !important;
  font-family: "Montserrat", "sans-serif" !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

.returnTop .btn{
  margin-top: 8%;
  margin-left: 85%;
  margin-bottom: 50px;
  background-color: #558ecb !important;
  padding: 8px !important;
  border-radius: 50px !important;
  width: 12%;
  align-items: center;
  font-size: calc(0.8rem + 0.1vw) !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

footer .btn{
  margin-top: 8%;
  background-color: #558ecb !important;
  padding: 10px !important;
  border-radius: 50px !important;
  width: 60%;
  align-items: center;
  text-transform: uppercase;
  font-size: calc(0.9rem + 0.1vw) !important;
  font-family: "Montserrat", "sans-serif" !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
}

/* FOOTER */

footer{
  box-shadow: 0px -4px 10px rgb(0 0 0 / 50%);
}

footer .img-fluid{
  width: 30% !important;
  opacity: 0.7;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

footer .row{
  --bs-gutter-x: 0rem !important;
  align-items: center;
}

.card-title{
  font-size: calc(1rem + 0.2vw) !important;
  font-family: "Inter", "sans-serif" !important;

}

  /* NAV */
@media screen and (min-width: 992px) {
  nav .img-fluid{
    margin-right: 35%;
  }

  .navbar-nav{
    margin-left: auto;
    float: right;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    gap: 30px;
  } 
}

  /* MAIN */
@media screen and (max-width: 900px) {

  .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {

  .logo .img-fluid {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 1000px) {
  .containerCard .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerCard p{
    font-size: calc(1rem + 0.5vw) !important;
  }
}

  /* FOOTER */
@media screen and (max-width: 1050px) {

  footer .text-light .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 5%;
  }

  footer .text-light .row .col{
    display: flex;
    justify-content: center;
  }
  
}

  /* BTN */
@media screen and (max-width: 1350px) {
  /* main */
  main .card .btn{
    width: 16% !important;
  }  
}

@media screen and (max-width: 1250px) {
  /* main */
  main .card .btn{
    width: 18% !important;
  }  

  /* return */
  .returnTop .btn{
    margin-left: 80%;
    width: 15% !important;
  }  
}

@media screen and (max-width: 1080px) {
  /* main */
  main .card .btn{
    width: 21% !important;
  }  
}

@media screen and (max-width: 950px) {
  /* main */
  main .card .btn{
    width: 24% !important;
  }  

  /* return */
  .returnTop .btn{
    width: 18% !important;
  }  
}

@media screen and (max-width: 780px) {
    /* return */
  .returnTop .btn{
    margin-left: 72%;
    width: 24% !important;
  }  

}


@media screen and (max-width: 800px) {
  /* main */
  main .card .btn{
    width: 30% !important;
  }  

  /* return */
  .returnTop .btn{
    margin-left: 72%;
    width: 24% !important;
  }  
}

@media screen and (max-width: 650px) {  
  /* main */
  main .card .btn{
    width: 34% !important;
  }  
}

@media screen and (max-width: 590px) {
  /* main */
  main .card .btn{
    width: 38% !important;
  }  
  /* return */
  .returnTop .btn{
    margin-left: 70%;
    width: 28% !important;
  }  
}

.main_hr {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  width: 95%;
  transform: rotate(180deg);
  border: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}