* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}

a {
  cursor: pointer;
  color: white;
  background: none;
  text-decoration: none !important;
}

.logo .img{
  width: 80% !important;
}

.container-fluid, .btn{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.container-fluid{
  float: right;
  width: 40% !important;
  margin-top: 10rem !important;
  gap: 20px !important;
  margin-right: 2% !important;
}

.btn{
  display: flex !important;
}

.btn a{
  margin-left: auto !important;
}

h1{  
  font-size: calc(1rem + 5vw) !important;
  color: rgba(0, 0, 0, 0.47) !important;
  text-align: right !important;
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  text-decoration-line: underline;
}

.btn .img{
  width: 50% !important;
}
@media screen and (max-width: 900px) {
  .logo .img-fluid{
    width: 75% !important;
  }
  .container-fluid{
    margin-top: 5rem !important;
  }
}

@media screen and (max-width:913px) {
  .container-fluid{
    margin-right: 20% !important;
    width: 60% !important;
  }
}

@media screen and (max-width:500px) {
  .container-fluid{
    margin-right: 10% !important;
    width: 80% !important;
  }
}