* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #2c3e50;
}
 
.container-fluid{
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
  margin-top: -5px;
}

.navh1{
  color: white;
}

.navbar-nav{
  text-align: center;
  gap: 15px;
  font-size: calc(1rem + 0.5vw);
  padding: 5px;
} 

.nav-item:hover{
  text-transform: uppercase;
  text-decoration: 2px underline rgb(81, 112, 173);
}

/* MAIN */

.logo{
  width: 81%;
  float: right;
}


/* FOOTER */

footer{
  box-shadow: 0px -4px 10px rgb(0 0 0 / 50%);
}

footer .img-fluid{
  width: 30% !important;
  opacity: 0.7;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

footer .row{
  --bs-gutter-x: 0rem !important;
  align-items: center;
}

.card-title{
  font-size: calc(1rem + 0.2vw) !important;
  font-family: "Inter", "sans-serif" !important;

}


  /* NAV */
@media screen and (min-width: 992px) {
  nav .img-fluid{
    margin-right: 35%;
  }
  
  .navbar-nav{
    margin-left: auto;
    float: right;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    gap: 30px;
  } 
}

  /* FOOTER */
@media screen and (max-width: 1050px) {

  footer .text-light .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 5%;
  }
  
  footer .text-light .row .col{
    display: flex;
    justify-content: center;
  }
}